<!-- children -->
<div class="router-outlet-box" [ngClass]="{active: hasChildren}"><router-outlet></router-outlet></div>


<app-footer active="1"></app-footer>
<div class="container">
  <div class="home-box clear">
    <!-- 冒泡泡 -->
    <canvas id="bubble"></canvas>
    <div class="home-container">
      <ul>
        <li *ngFor="let item of courseWareItems; let idx = index">
          <img 
            src="{{'assets/images/' + (item.isUnlocked ? (idx == 9 && item.theoryExamScore >= 6 ? 'course-true-complete' : 'course-true') : 'course' + (idx + 1)) + '.png'}}" alt="" 
            (click)="goDetails(item.isUnlocked, item.courseWareId)" 
            [ngClass]="{active: !courseWareItems[idex + 1]?.isUnlocked && item.isUnlocked}">
          <div>
            <i [ngClass]="{active: item.theoryExamScore >= 2 && item.isUnlocked}"></i>
            <i [ngClass]="{active: item.theoryExamScore >= 4 && item.isUnlocked}"></i>
            <i [ngClass]="{active: item.theoryExamScore >= 6 && item.isUnlocked}"></i>
            <i [ngClass]="{active: item.theoryExamScore >= 8 && item.isUnlocked}"></i>
            <i [ngClass]="{active: item.theoryExamScore >= 10 && item.isUnlocked}"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="apply-inter">
  <img src="assets/images/apply.png" [ngClass]="{active: courseWareItems[9]?.isUnlocked && courseWareItems[9]?.theoryExamScore >= 6}" alt="" (click)="goApply()" *ngIf="interviewType != 1">
  <img src="assets/images/apply-true.png" alt="" (click)="applyTwo()" *ngIf="interviewType == 1">
</div>




